/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/

//font-setting
$font-setting: -apple-system,
BlinkMacSystemFont,
Roboto,
"Segoe UI",
"Helvetica Neue",
HelveticaNeue,
YuGothic,
"Yu Gothic Medium",
"Yu Gothic",
Verdana,
Meiryo,
sans-serif;

$font-serif: 'Sawarabi Mincho',
游明朝,
"Yu Mincho",
YuMincho,
'ヒラギノ明朝 Pr6 W6',
"Hiragino Mincho ProN",
"Hiragino Mincho Pro",
HGS明朝E,
メイリオ,
Meiryo,
serif;

b,
strong,
.font-weight-bold {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI semibold", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic", "Segoe UI", Verdana, Meiryo, sans-serif;
}

/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/

/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-wrap: break-word;
  word-break: break-word; //non-standart css for webkit
  word-wrap: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
}